*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    background-color: rgba(0, 255, 255, 0.611);
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-corazon{
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* .container:hover .img-corazon{
    width: 100px;
    height: 100px;
} */